# Ignore node_modules (Frontend)
node_modules/

# Ignore Python virtual environment & cache (Backend)
venv/
__pycache__/
*.pyc
*.pyo

# Ignore environment files
.env
.env.local
*.log

# Ignore build files
dist/
build/
.cache/
.DS_Store  # macOS
.DS_Store

.python_packages
.venv