# DO NOT include azure-functions-worker in this file
# The Python Worker is managed by Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues

azure-functions
azure-identity
azure-kusto-data
azure-storage-blob==12.19.1
pandas
openpyxl
azure-storage-blob
azure-kusto-data
azure-kusto-ingest
azure-identity